@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background-image: linear-gradient(to left, rgb(91 59 202), rgb(153 15 117 / 78%));
    color: white;
}

/* header heading section */
#heading {
    margin-top: 100px;
}


/* header navbar */
#nav {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: linear-gradient(0deg, #000000, #830a0afa);
}

.app_name {
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

/* app's logo */
#logo {
    height: 50px;
    width: 50px;
    margin: 0 20px 0 10px;
}

/* header search bar section */
#search-bar {
    max-width: 600px;
}

#search-bar input {
    height: 50px;
    border-radius: 20px;
}


/* meal card */
#card {
    background-image: linear-gradient(119deg, #2b9b14bd, #85a323e3);
    padding: 10px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#card h5{
    color: black;
    font-family: cursive;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.6rem;
}

#card img {
    border-radius: 50%;
}

#card-title {
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 1.5rem;
    text-align: center;
}


/* meal details container */
#meal-details {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: #FF3044;
}

#meal-header {
    width: 70%;
    margin: auto;
}

#meal-thumbail img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

#meal-instruction {
    margin: auto;
    text-align: center;
}

/* favourites offcanvus */
#favourites-body {
    background-color: #212529;
}

#fav {
    margin: 0 20px;
    letter-spacing: 3px;
    font-weight: bold;
}